* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: auto;
}

#bloco-logo {
    width: 100%;
    height: 588px;
    background-color: #96b838;
}

.logo {
    width: 100%;
    margin: 240px 0;
}