    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    html,
    body {
        width: 100%;
        height: auto;
    }
    
    #inicio {
        width: 100%;
        height: 588px;
        background-color: #96b838;
    }
    
    .logo {
        width: 100%;
        margin: 115px 0;
    }
    
    .imagem-sobre {
        z-index: 1;
        width: 200px;
        height: 200px;
        margin: 50px 60px;
        box-shadow: -4px 4px;
        position: relative;
        display: block;
    }
    
    .p__sobre {
        width: 200px;
        margin: 50px 60px;
        text-align: justify;
    }
    
    .video-assessoria {
        width: 100%;
        height: calc(537px /1.5);
        background-image: url(../img/flores.png);
    }
    
    .video {
        margin: 60px 30px;
    }
    
    .p__assessorias {
        width: 200px;
        margin: 30px 60px;
        text-align: justify;
    }
    
    #titulo-servicos {
        width: 320px;
        margin: 35px 0;
        padding: 5px;
        text-align: center;
    }
    
    .h3__tipos {
        width: 320px;
        padding: 5px;
        text-align: center;
    }
    
    .saiba-mais {
        width: 180px;
        margin: 50px 70px;
        padding: 10px;
        text-align: center;
        border: 1px solid goldenrod;
        display: block;
    }
    
    a:link {
        text-decoration: none;
        color: black;
    }
    
    a:visited {
        text-decoration: none;
        color: black;
    }
    
    #depoimentos {
        width: 320px;
        height: calc(588px /1.5);
        background: #f1f1f1;
    }
    
    .titulo-depoimentos {
        width: 200px;
        margin: 0 60px;
        padding: 20px 10px;
        text-align: center;
    }
    
    .contato {
        width: 320px;
        height: calc(588px / 2);
        background: salmon;
        position: absolute;
    }
    
    .formulario {
        top: 30px;
        margin: 0 65px;
        text-align: center;
        position: relative;
        display: inline;
    }
    
    .envio {
        display: inline;
        border: none;
    }